body {
                        background-image: url("bkground.png");
                        background-color: #000000;
			background-position: center;
			background-repeat: no-repeat;
			margin-left: 0px;
			margin-right: 0px;
		}